<header class="d-flex flex-wrap py-3">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"></svg>
    <span class="fs-4"><img src="../../assets/images/logoamarelo.png" id="logod2u"></span>
  </a>

  <ul class="nav nav-pills mt-2 nav-esc">
    <li class="nav-item"><a [routerLink]="['home']" class="nav-link">Home</a></li>
    <li class="nav-item"><a [routerLink]="['entrega']" class="nav-link">Quero ser um Parceiro de Entregas</a></li>
    <li class="nav-item"><a [routerLink]="['lojista']" class="nav-link">Quero Cadastrar meu Estabelecimento</a></li>
  </ul>
  <ul class="nav me-auto ul-interm"></ul>
  <ul class="nav mt-2 nav-icon">
    <li class="nav-item"><a [routerLink]="['home']" class="nav-link"><i class="fas fa-home"></i></a></li>
    <li class="nav-item"><a [routerLink]="['entrega']" class="nav-link"><i class="fas fa-truck"></i></a></li>
    <li class="nav-item"><a [routerLink]="['lojista']" class="nav-link"><i class="fas fa-store"></i></a></li>
  </ul>
</header>