<!-- HOME TOP -->

<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 container-home-left">
                <img src="../../assets/images/art-phone.png" class="" />

                <p class="title-downloadApp">Baixe agora nosso app!</p>

                <div class="row container-home-left-icon">
                    <div class="col-6"> 
                        <a href="https://play.google.com/store/apps/details?id=br.com.tantto.delivery2u.app" target="_blank">
                            <img src="../../assets/images/google-play-top.png" class="icon-download-bottom" id="app-store-top" />
                        </a>
                    </div>

                    <div class="col-6">
                        <a href="https://apps.apple.com/br/app/id1513411993" target="_blank">
                            <img src="../../assets/images/appstoretop.svg" class="icon-download-bottom" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 container-home-right">
                <div class="row container-home-right-icon"> 
                    <div class="col-4">
                        <img src="../../assets/images/logopreto.png" />
                    </div>

                    <div class="col-8">
                        <h1 id="title-home-top">PARA TODO <br> PEDIDO <br> UMA ENTREGA!</h1>
                    </div>

                    <p id="text-body-top">
                        Aplicativo de compras de fácil usabilidade, tanto para o lojista quanto para nossos usuários. 
                        O app é bem intuitivo, com cores leves que ajudam os usuários no momentos da decisão de compra. 
                        Delivery2U foi desenvolvido para ajudar as empresas a aumentarem suas vendas e ajudar os usuários 
                        a realizarem compras no conforto da sua casa/escritório encontrando estabelecimentos com preços 
                        justos que possam realizar a entrega com maior segurança e pontualidade.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- HOME BODY CIRCLE -->

<div id="container">
    <div class="circle-content mt-5 mb-5">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 circle">
                <img src="../../assets/images/menores-taxas.jpeg" class="bd-placeholder-img rounded-circle" />
                <p>Menores Taxas do Mercado</p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 circle">
                <img src="../../assets/images/sem-mensalidade.jpeg" class="bd-placeholder-img rounded-circle" />
                <p>Sem mensalidade, divulgação gratuita</p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 circle">
                <img src="../../assets/images/aumento-faturamento.jpeg" class="bd-placeholder-img rounded-circle" />
                <p>Aumento do faturamento</p>
            </div>
        </div>
    </div>

    <!-- HOME BODY CARD -->

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-2 col-md-6 col-sm-12 div-circle-card-l">
                    <img src="../../assets/images/woman.png " class="bd-placeholder-img rounded-circle" />
                </div>

                <div class="col-lg-10 col-md-6 col-sm-12">
                    <p class="title-person-l">Usuário Usuário</p>
                    <p class="text-body-card-l">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                        laboris nisi ut aliquip ex ea commodo consequat. 
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body ">
            <div class=" div-circle-card-r">
                <img src="../../assets/images/men1.png " class="bd-placeholder-img rounded-circle float-end" />
            </div>
            
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-12">
                    <p class="title-person-r">Usuário Usuário</p>
                    <p class="text-body-card-r">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                        laboris nisi ut aliquip ex ea commodo consequat. 
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-2 col-md-6 col-sm-12 div-circle-card-l">
                    <img src="../../assets/images/men2.png " class="bd-placeholder-img rounded-circle" />
                </div>

                <div class="col-lg-10 col-md-6 col-sm-12">
                    <p class="title-person-l">Usuário Usuário</p>
                    <p class="text-body-card-l">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                        laboris nisi ut aliquip ex ea commodo consequat. 
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- HOME BODY FOOTER -->

    <p class="title-downloadApp">Baixe agora nosso app!</p>

    <div class="row home-bottom">
        <div class="col-6">
            <a href="https://play.google.com/store/apps/details?id=br.com.tantto.delivery2u.app" target="_blank">
                <img src="../../assets/images/google-play.png" class="icon-download-bottom" />
            </a>
        </div>

        <div class="col-6">
            <a href="https://apps.apple.com/br/app/id1513411993" target="_blank">
                <img src="../../assets/images/appstore.svg" class="icon-download-bottom2" />
            </a>
        </div>
    </div>
</div>